<section class="intro-section">
    <details class="cyber-details">
        <summary class="category-title cyber-summary">FAQ & Introduction <span class="toggle-icon">▼</span></summary>
        <div class="intro-container">
        
        <div class="intro-block">
            <h3>Credit and Examples</h3>
            <p>A lot of credit goes to LegsV. I only built on top of his base work. This list has been further expanded with my own experience and the knowledge and feedback from the general, so it's a group effort. I'm just the gonk who took the time to write it down.<br>
            There are video examples of what some of these mods can do and what no-hud play looks like in the BD collection: <a href="https://pastebin.com/kTijcvM4" class="cyber-link" target="_blank">https://pastebin.com/kTijcvM4</a></p>
        </div>
        
        <div class="intro-block">
            <h3>What does this list do?</h3>
            <p>This list only focuses on gameplay and immersion mods. You won't find body, gear and a lot of graphical mods in here. I've added some textures and graphical fluff for immersion sake but that's it. Body and gearmods are plenty and there are tons of alternate setups depending on how much tits and ass you need. Ask the thread for the differences.<br>
            With all the mods in this list and the right settings you'll end up with the immersive sim version of Cyberpunk without altering it's core too much but through adding systems on top of vanilla instead.</p>
            <ul>
                <li>You'll need to eat, drink, sleep and maintain your nerve level.</li>
                <li>It will be possible to get addicted to various substances and in various stages. Combat stims, tobacco, alcohol, it's all included.</li>
                <li>You'll be able to interact with the world in various ways more compared to the vanilla game.</li>
                <li>Combat will be fierce, a single headshot can flatline a gonk but that gonk could be you all the same.</li>
                <li>Night City will remember you and the streets will have more random gang activity.</li>
                <li>It will be possible to play virtually hudless.</li>
                <li>All of the above is fully customizable through in-game mod menus. Don't like having to eat? Turn it off.</li>
            </ul>
        </div>

        <div class="intro-block">
            <h3>Compatibility Issues and Adding Mods Not on the List</h3>
            <p>Everything on this list is compatible outside of the mods on the bottom. Any incompatibilities are mentioned.<br>
            You should install everything in from the Core Utility part of the list but otherwise you can pick and choose. Just don't install anything you don't like and know that it's safe to add other mods from the Nexus too. Just be wary of compatibility issues.<br>
            For example, this list has a weather mod. It's safe to use another weather mod but you can't use the one from this list since they obviously will conflict with each other. Same goes for combat mods or anything that changes in-game pricing.</p>
        </div>

        <div class="intro-block">
            <h3>Should I use a Modtool?</h3>
            <p>If you are familiar with Mod Organizer2, it fully works with Cyberpunk 2077 and I highly recommend using it. Manual install is obviously fine but Mo2 will make things easier and offers extra features like having different mod profiles per character. The main install folder of cyberpunk is never touched, all mods run from another location on your drive so it's literally impossible to break your game.<br>
            With Mo2 you can easily disable/enable mods with a checkmark, installing is an auto-download from nexus and doubleclicking. It's a timesaver and it will save you some headaches if you don't organize your mods well with a manual installation. It also makes updating and checking for updates easier.</p>
            <p><a href="https://www.nexusmods.com/skyrimspecialedition/mods/6194?tab=description" class="cyber-link" target="_blank">Mo2 Link</a><br>
            If you are not familiar with it but still interested, there is a step-by-step on the modpage (yes, skyrim nexus, I know. But it's the one.) You can find guides for Cyberpunk specifically but they seem to be outdated.</p>
            <p>It's not complex though, all you need to do is this:</p>
            <ul>
                <li>DL mo2 from skyrimnexus</li>
                <li>Install and start it up</li>
                <li>Pick portable instance (very important!) and cyberpunk as the game you want to manage</li>
                <li>Shut down mo2</li>
                <li>Download and install Root Builder (dl and unzip in your MO2's plugin folder) <a href="https://www.nexusmods.com/skyrimspecialedition/mods/31720" class="cyber-link" target="_blank">Root Builder Link</a></li>
                <li>Start up mo2 again</li>
                <li>DL core mods</li>
                <li>Do a testlaunch of the game</li>
                <li>If it checks out, continue building your modlist. Test it as you go forward</li>
            </ul>
            <p>There is also Vortex which should be compatible with Cyberpunk. I've never tried it myself. Be wary of vortex however as it is known for not always handling conflicting files the way you'd want it too.<br>
            <a href="https://wiki.redmodding.org/cyberpunk-2077-modding/for-mod-users/users-modding-cyberpunk-2077/getting-started/vortex-mod-manager" class="cyber-link" target="_blank">Vortex Guide</a></p>
        </div>

        <div class="intro-block">
            <h3>Dangers to Modding Cyberpunk</h3>
            <p>It's best to test out mods first on a save file. When you have everything you want and ready (mod settings carry over between savefiles), start a new game on a fresh savefile. This is because certain mods can leave your save file bloated, which can cause problems if it exceeds 12.2Mb. For example, installing and uninstalling a bunch of clothing mods can create permanent bloat, a few Kb at a time. This usually isn't a problem but it might be if you really go at it.</p>
            <p>Weather mods can also cause your savefile to break upon uninstalling them. Usually, they'll come with a "reset weather" option you have to use first, then save before uninstalling. There's no need to do this if you update a weather mod (unless you change between different weather mods).</p>
            <p>Certain mods might impact performance heavily. Especially 4/8k textures or mods like "high quality anywhere", crowd/traffic mods can pull your system down to a crawl. So keep an eye on your hardware limits when picking "beautifying" mods. You won't find any of these mods in this list.</p>
            <p>And again, use Mo2 to save yourself a lot of headaches and prevent fracking up so bad you have to reinstall the whole game because there's modfiles everywhere. Outside of these basics, Cyberpunk is a easily moddable game with an easy to follow folder structure.</p>
        </div>

        <div class="intro-block">
            <h3>Other Things of Note</h3>
            <ul>
                <li>Remember to check your in-game mod settings to adjust everything to your liking. It all works out of the box but some finetuning might be wanted.</li>
                <li>You WILL have to adjust damage scaling values otherwise you'll just have the vanilla defaults.</li>
                <li>Turn off as much of the HUD as you are comfortable with. Limited hud can give you options like enabling the minimap while driving and disabling when you get out of your ride. It also can show your loot when scanning while disabling it without scanning. In short there's a lot possible. Beyond that, you'll can use the basic in-game settings [interface] if you want to turn off your crosshair and other specific things completely.</li>
            </ul>
        </div>

        <div class="intro-block">
            <h3>About the Combat Mods</h3>
            <p>The combat mods in the main list are chosen with a challenging vanilla PLUS in mind, without any bloat or drastic changes. It only adds more systems on top.<br>
            However, it will impact the power fantasy and put you on a more equal footing with your enemies. You'll have to adapt and outsmart them since brute forcing will be nigh impossible. Enemies have smarter AI and more capabilities. They will use more quickhacks and abilities over the vanilla game. Netrunners have a wide array of hacks, snipers can cloak, ... all combined, they can deliver swift death.<br>
            As you progress in levels and get your hands on more perks and cyberware, they will feel so much better and useful compared to vanilla where difficulty just revolves around bloating HP bars and lowering outgoing damage.<br>
            At the bottom of the list you'll find alternative mods for combat. It depends on your playstyle/level of challenge you want but these mods are less vanilla and often completely change up encounters.</p>
        </div>
        </div>
    </details>
</section>
